* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-footer-bg: #F4F4F4;
    --color-primary: #e90024;
    --color-primary-light: rgba(233, 0, 35, 0.88);
    --color-primary-tint: rgba(233, 0, 36, 0.1);
    --color-nav-text: #4B4B4B;
    --color-headline-primary: #1E1E1E;
    --color-text-primary: #787878;
    --color-icon: rgba(94, 189, 120, 1);
}

html {
    /*
    font-size: 10px;
    10px / 16px = 0.625 = 62.5%
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: var(--color-text-primary);
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/** ====================== 
    Special class
==========================*/

/* Headline */
.headline-primary,
.headline-secondary,
.heading-tertiary,
.headline-quaternary {
    font-weight: 600;
    color: var(--color-headline-primary);
}

/* h1 */
.headline-primary {
    font-size: 6.5rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

/* h2 */
.headline-secondary {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

/* h3 */
.heading-tertiary {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 3rem;
}

/* h4 */
.headline-quaternary {
    font-size: 2rem;
    line-height: 24px;
}

/* Layout */
.container {
    max-width: 132rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.grid-column-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
}

.grid-column-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
}

.emphasis-text {
    color: var(--color-primary);
    font-weight: 800;
}

.text-primary {
    font-size: 1.6rem;
    line-height: 26px;
}

.text-center {
    text-align: center;
}

.section {
    margin: 15rem 0;
}

/* Button */

.btn,
.btn:link,
.btn:visited {
    padding: 1.5rem 3rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms;
}

.btn-signin:link,
.btn-signin:visited,
.btn-start:link,
.btn-start:visited {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.btn-signin:hover,
.btn-signin:active,
.btn-start:hover,
.btn-start:active {
    background-color: var(--color-primary-light);
}

.btn-purchase:link,
.btn-purchase:visited {
    padding: 1.6rem 3.2rem;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn-purchase:hover,
.btn-purchase:active {
    color: var(--color-white);
    background-color: var(--color-primary);
}

.btn-active:link,
.btn-active:visited {
    color: var(--color-white);
    background-color: var(--color-primary);
}


.btn-faq {
    background-color: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
}

.section--top-bar {
    margin-bottom: 6rem;
}

.section--top-bar .text-primary {
    padding: 0 26rem;
}

/* Icon Box */

.how-work--icon-box,
.why-pump--icon-box,
.pricing-plan--single,
.customer-rating--single {
    background: #FFFFFF;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    transition: all 300ms;
}

.how-work--icon-box:hover,
.why-pump--icon-box:hover,
.pricing-plan--single:hover,
.customer-rating--single:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: translateY(-2%);
}