/**

1. Header
2. Main
    -- Banner


*/

/* Header */
.header {
    align-items: center;
    justify-content: space-between;
    padding: 0 3.2rem;
    position: relative;
}

.main-nav--list {
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
}

.nav-link:link,
.nav-link:visited {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 22px;
    color: var(--color-nav-text);
    transition: color 300ms ease-in;
}

.nav-link:hover,
.nav-link:active {
    color: var(--color-primary);
}

.nav-link.active:link,
.nav-link.active:visited {
    color: var(--color-primary);
}

.nav-meta {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-meta i.fa {
    font-size: 2.4rem;
    color: var(--color-nav-text);
}

/* Banner */
.section-banner {
    margin-top: 7.4rem;
}

.banner {
    padding: 0 3.2rem;
    grid-template-columns: 1fr 1fr;
}

.banner--description {
    margin-bottom: 3rem;
}

.banner--img-box {
    position: relative;
}

.banner--img {
    position: absolute;
    width: 45%;
}

.banner--img-one {
    z-index: 2;
    left: -7%;
    top: 77%;
    width: 55%;
}

.banner--img-two {
    z-index: 1;
    right: 25%;
    width: 40%;
}

.banner--img-three {
    z-index: 2;
    top: 25%;
    right: 0;
}

/* Section Instagram Likes */
.section-instagram-likes {
    background-color: var(--color-footer-bg);
    padding: 9rem 11rem;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.instagram-likes {
    grid-template-columns: repeat(4, 1fr);
}

.instagram-likes--details:not(:first-of-type) {
    text-align: center;
}

.instagram-likes--details .headline-secondary {
    font-weight: 700;
}

/* Section How Work */
.how-work--icon-box {
    padding: 8.4rem 6rem;
}

.how-work--step {
    margin-top: 4.2rem;
}

/*  Section Video */
.video {
    position: relative;
}

.video--thumb {
    width: 100%;
}

.play-btn {
    position: absolute;
    display: inline-block;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play-btn::before {
    content: '';
    background-color: var(--color-primary-tint);
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transform: translate(33%, 0%);
}

.play-btn::after {
    content: '';
    background-color: rgba(233, 0, 35, 0.4);
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform: translate(-78%, -24%);
}

.video-btn {
    display: inline-block;
    position: absolute;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translate(-35%, -50%);
}

/* Section Why Pump */
.why-pump--icon-box {
    padding: 6.5rem 5rem;
}

.why-pump--reason {
    margin-top: 4rem;
}

/* Section Pricing Plan */
.pricing-plan--single {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 6.5rem 9rem;
    text-align: center;
    justify-content: space-between;
}

.single--plan-saving {
    padding: 1.1rem 6.8rem;
    background-color: var(--color-primary-tint);
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--color-primary);
}

.feature-list {
    margin-bottom: 4rem;
    text-align: left;
}

.feature-list li {
    font-size: 16px;
    line-height: 26px;
}

.feature-list li::before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: var(--color-icon);
    margin-right: 1rem;
}

.single--plan-price {
    font-weight: 700;
    font-size: 4.5rem;
    color: var(--color-headline-primary);
}

/* Section Customer Rating */
.customer-rating--single {
    padding: 4rem 4rem 2.6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
}

.customer-details {
    align-items: center;
    justify-content: space-between;
}

span.info {
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

span.more i.fa {
    font-size: 2rem;
}

.customer-name {
    font-size: 2rem;
    font-weight: 600;
}

.rating-body {
    background-color: var(--color-footer-bg);
    padding: 3.5rem 5.3rem;
    border-radius: 10px;
}

.rating-stars {
    margin-bottom: 2rem;
}

.rating-stars i.fa {
    font-size: 1.8rem;
    color: #FFA723;
}

.rating-footer {
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
}

.rating-meta i.fa {
    font-size: 2.1rem;
}

.rating-meta.d-flex {
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
}

/* Section FAQ */
.faq--items {
    position: relative;
}

.accordion-item {
    border: 1px solid #E8E8E8;
    border-radius: 20px;
    padding: 3.8rem 3.2rem;
}

.accordion-item:not(:last-of-type) {
    margin-bottom: 2rem;
}

.accordion-item.accordion-body-open .faq--headline {
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}

.accordion-item.accordion-body-open .headline-quaternary {
    color: var(--color-primary);
}

.accordion-item:not(.accordion-body-open) .faq--body {
    display: none;
}

.accordion-item:not(.accordion-body-open) .faq--headline {
    position: relative;
}

.accordion-item:is(.accordion-body-open) .faq--headline::after {
    content: "\f068";
    font-family: 'FontAwesome';
    font-size: 1.6rem;
    position: absolute;
    right: 4%;
    left: auto;
}

.accordion-item:not(.accordion-body-open) .faq--headline::after {
    content: "\f067";
    font-family: 'FontAwesome';
    font-size: 1.6rem;
    position: absolute;
    left: auto;
    right: 0;
    top: 20%;
}

.accordion-text {
    font-size: 1.6rem;
    line-height: 1.68;
}

/* Footer */
.footer {
    background-color: var(--color-footer-bg);
    padding: 15rem 0;
}

.footer--inner {
    column-gap: 13.6rem;
}

.footer-logo {
    margin-bottom: 3rem;
}

.footer-row .headline-quaternary {
    margin-bottom: 4.2rem;
}

.footer-social-accounts,
.subscribe-form {
    margin-top: 2rem;
}

.footer-nav--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav--link:link,
.footer-nav--link:visited {
    font-size: 1.6rem;
    line-height: 1.6;
}

.subscribe-form {
    align-items: center;
    justify-content: center;
}

.email {
    color: #A5A5A5;
    background-color: var(--color-white);
    padding: 1.5rem 4.8rem 1.5rem 1.8rem;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: inherit;
}

.btn-submit {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 1.5rem 1.7rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}